body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Увеличиваем высоту заголовка столбцов и делаем текст крупнее */
.ag-header-cell-label {
  font-size: 16px !important;
  font-weight: 700;
  color: #222;
}

/* Сделать ширину таблицы 100% и колонки растягиваются */
.ag-root-wrapper {
  width: 100% !important;
}

/* Если хочешь, чтобы колонки растягивались, можно добавить автоширину */
.ag-center-cols-container {
  width: 100% !important;
}

/* Установим минимальную высоту для всей таблицы */
.ag-theme-alpine {
  height: 350px !important;
  width: 100% !important;
  box-sizing: border-box;
}

