.dashboard {
  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  background: #f7f9fc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.topSection {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  gap: 24px;
  flex-wrap: wrap; 
}

.tableWrapper {
  flex: 1 1 400px; 
  min-width: 250px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.05);
  padding: 16px;
  overflow: hidden;
 
}

.controlsWrapper {
  flex: 1 1 400px;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.05);
 
}

.currentValueBox {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 0 8px rgb(0 0 0 / 0.03);
  user-select: none;
}

.currentValueBox h2 {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0078d4;
}



.tabBar {
  flex:20%;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.07);
  padding: 2px;
}

.chartWrapper {
  flex: 1 1 450%;
  min-height: 350px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.07);
  padding: 16px;
}


button {
  background-color: #669ac2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: #005a9e;
}