.ag-theme-alpine .ag-header-cell {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px; /* высота ячеек заголовка */
  line-height: 50px; /* выравнивание текста по центру */
}

.ag-theme-alpine .ag-header-row {
  height: 50px !important; /* сама строка заголовков */
}